VITE_SUPABASE_URL=https://ipliqztgvgcmampkxyuu.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlwbGlxenRndmdjbWFtcGt4eXV1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU3OTEwNTAsImV4cCI6MjA5MTM2NzA1MH0.A7GMIfWt6TY68bv-s8ap8PVQCCrOla2NZOXZb526rtI
VITE_SUPABASE_TABLE=queueing_snapshots
VITE_SUPABASE_SNAPSHOT_ID=badminton-main

VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_0auT81NFwsyhaxTM_GEMkA_3ZuGwW02